* {
  margin: 0;
}

.headerLogo{
  height: 55px;
  width: auto;
}

.header{
  background-color: #019CDD;
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}

.posts{
  margin-top: 100px;
  margin-bottom: 100px;
}


.logInBtns{
  color: #FFF !important;
  border: 2px solid rgba(255, 255, 255, 0.4) !important;
  margin-left: 20px !important;
}

.loggedInDisplay{
  color: #FFF;
  display: inline;
}

body {
  background-color: #164B61;
}
