@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.Editable{
    background-color: #164B61;
    color: #FFF;
    border-radius: 5px;
    
    padding: 10px;
    font-family: raleway;
    font-size: 15px;
}

.Editable:focus{
    outline: 0;
    outline: 2px solid #019CDD;
}
