.postImage{
    width: 100%;
    object-fit: contain;
}

.post{
    object-fit: contain;
}

#postCard {
    background-color: #0c3141;
    margin: 25px;
    max-width: 650px;
}

/* #commentIcon{
    color: #FFF
} */

.username{
    font-weight: bold;
}

.postText{
    font-weight: normal;
    padding: 5px 10px;
    color: #FFF;
    margin-bottom: 10px;
}

.icons{
    padding: 15px 10px;
    color: #FFF;
    
}

.icon{
    margin-right: 10px;
}

.commentBox{
    display: flex;
    height: 50px;
}

.commentBtn{
    flex: 0;
    color: #FFF;
    background-color: #019CDD;
    border: none; 
}

.commentText{
    font-weight: normal;
}

.commentDisplay{
    color: #FFF;
    padding: 10px;
    display: flex;
}

.commentUsername{
    margin-right: 15px;
}

.commentInput{
    flex: 1;
    border: none;
    padding: 10px;
}

.commentInput:focus{
    outline: none;
}

.postHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
    color: #FFF;
}

.postAvatar{
    margin-right: 10px;
}

.postUserAvatar{
    display: flex;
    align-items: center;
}

#menuIcon{
    float: right;
}