.postImage{
    width: 100%;
    object-fit: contain;
}

.post{
    object-fit: contain;
}

#postCard {
    background-color: #0c3141;
    margin: 25px;
    max-width: 650px;
}

/* #commentIcon{
    color: #FFF
} */

.username{
    font-weight: bold;
}

.postText{
    font-weight: normal;
    padding: 5px 10px;
    color: #FFF;
}

.icons{
    padding: 15px 10px;
    color: #FFF;
    
}

.icon{
    margin-right: 10px;
}

.postHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
    color: #FFF;
}

.postAvatar{
    margin-right: 10px;
}

.postUserAvatar{
    display: flex;
    align-items: center;
}

#menuIcon{
    float: right;
}