.signUpForm, .signUpDiv, .logInDiv, .logInForm, #Card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signUpBtn, .logInBtn{

    width: 400px;
    background-color: #019CDD !important; 
}

.input {
    width: 400px;
}

#Card {
    background-color: #0c3141;
    margin: 25px;
    width: 400px;
    max-width: 650px;
    color: #FFF;    
}

.header{
    background-color: #019CDD;
    padding: 0 5px;
    width: 100%;
    border-radius: 5px;
}